body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#message-container {
  width: 80%;
  max-width: 1200px;
}

#message-container div {
  font-size: 1.5rem;
  background-color: #CCC;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #fff;
}

#send-container {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  background-color: white;
  max-width: 1200px;
  width: 80%;
  display: flex;
}

#message-input {
  font-size: 1.5rem;
  flex-grow: 1;
  min-height: 50px;
}

#send-button {
  font-size: 1.5rem;
  min-height: 50px;
  min-width: 100px;
}